.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item--clickable {
  cursor: pointer;
}

.portfolio__item--clickable:hover {
  border-color: var(--color-primary-variant);
}

/* .portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
} */

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
  height: 200px;
}

.portfolio__item-image img {
  height: 100%;
}

.portfolio__item h3 {
  margin: 1.2rem 0 0.5rem;
}

.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.portfolio__filter {
  text-align: center;
  margin-bottom: 1rem;
}

.portfolio__filter select {
  font-family: "Poppins", sans-serif;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-primary);
  background: var(--color-bg-variant);
  color: var(--color-light);
  cursor: pointer;
}

.portfolio__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.portfolio__tag {
  font-size: 0.85rem;
  color: var(--color-light);
  /* background: rgba(200, 200, 200, 0.2); */
  /* padding: 3px 8px; */
  /* border-radius: 5px; */
}

#hiddenButton {
  display: none;
}

/* ============ MEDIA QUERIES (MEDIUM DEVICES) ============ */
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ============ MEDIA QUERIES (SMALL DEVICES) ============ */
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
